<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\WorkSpace\WS-Cocos\ScarbMoonWarriors\ScarbMoonWarriors.exe</StartProgram>
    <StartArguments>-workdir E:\WorkSpace\WS-Cocos\ScarbMoonWarriors -file src\main.lua</StartArguments>
    <StartWorkingDirectory>E:\WorkSpace\WS-Cocos\ScarbMoonWarriors</StartWorkingDirectory>
  </propertyGroup>
</Project>